body {
  color: hsl(218, 22%, 67%);
  font-family: "Karla", sans-serif;
  background-color: #e6eff6;
}

.grid-container {
  max-width: 800px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "box1 box2";
}

.strong {
  font-weight: 700;
}

.header {
  grid-area: header;
  background-color: #fff;
  padding: 30px;
}

.header .p {
  line-height: 1.5em;
}

.box1 {
  grid-area: box1;
  background-color: hsl(179, 62%, 43%);
  padding: 30px;
}

.box2 {
  grid-area: box2;
  background-color: #4abebd;
  padding: 30px;
}

.box2 .p2 {
  font-size: 13px;
  opacity: 0.8;
  line-height: 1.5em;
}

.cyan {
  color: hsl(179, 62%, 43%);
}

.bright-yellow {
  color: hsl(71, 73%, 54%);
}

.light-gray {
  color: hsl(204, 43%, 93%);
}

.duit {
  font-size: 2em;
  font-weight: 700;
}

.button {
  display: inline-block;
  background-color: hsl(71, 73%, 54%);
  width: 100%;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.button:hover {
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
}

/* Responsive */

@media screen and (max-width: 375px) {
  .grid-container {
    grid-template-areas:
      "header header"
      "box1 box1"
      "box2 box2";
  }
}
